{% load static %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <style>
            .logo {
                font-size: 3rem;
                text-align: left;
                color: #0A58CA;
            }
            .create {
                font-size: 1.4rem;
                text-align: right;
                margin: 0;
                padding: 0;
                color: #0A58CA;
            }

            .page-title {
                text-align: center;
            }

            .polls {
                display: flex;
                justify-content: center;
                margin: 3rem auto;
                width: 100%;
            }

            .polls-list {
                width: 100%;
                margin: 3rem auto;
                display: block;
            }

            .poll-item {
                word-break: break-all;
                border: 1px solid #ccc;
                display: block;
                width: 100%;
                padding: 1rem;
                margin: 2rem auto;
            }

            .poll-func {
                margin: 3rem auto 0;
            }

            .vote-btn,
            .vote-btn:hover,
            .vote-btn:focus,
            .vote-btn:active {
                background-color: #0A58CA;
                border-color: #0A58CA;
                color: #fafafa;
            }

            .result-btn,
            .result-btn:hover,
            .result-btn:active,
            .result-btn:focus {
                border: 1px solid #0A58CA;
                color: #0A58CA;
            }
            
            .list-group {
                margin: 2rem auto;
            }

            .list-group-item {
                padding: 1rem;
            }
        </style>
	</head>
	<body>
		<nav class="navbar navbar-default nav" role="navigation">
			<div class="container">
                <div class="navbar-header col">
                    <a class="navbar-brand logo" href="{% url 'home' %}">Votify</a>
                </div>
                <div class="col create">
                    <a href="{% url 'create' %}">Создать опрос</a>
                </div>
			</div>
		</nav>

		{% block main %}{% endblock %}

	</body>
</html>
