{% extends "poll/base.html" %}
{% load widget_tweaks %}

{% block title %}Создать опрос{% endblock %}

{% block main %}
<div class="row polls">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title page-title">Создать новый опрос</h3>
            </div>
                
            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Вопрос</label>
                                {% render_field form.question class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 2rem;">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option1">Ответ 1</label>
                                {% render_field form.option_one class="form-control" autocomplete="off" %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option2">Ответ 2</label>
                                {% render_field form.option_two class="form-control" autocomplete="off" %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option3">Ответ 3</label>
                                {% render_field form.option_three class="form-control" autocomplete="off" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info vote-btn">Создать</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
