{% extends "poll/base.html" %}

{% block title %}Votify{% endblock %}

{% block main %}
<div class="row polls">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title page-title">Доступные опросы</h3>
            </div>
                
            <ul class="list-group polls-list">
                {% if not polls %}
                    <li class="list-group-item">
                        <strong>К сожалению, сейчас опросов нет... Попробуйте <a href="{% url 'create' %}">создать</a> свой</strong>
                    </li>
                {% endif %}
                {% for poll in polls %}
                <li class="list-group-item poll-item">
                    <strong>{{ poll.question }}</strong>
                    <hr>
                    <div class="pull-right poll-func">
                        <a href="{% url 'vote' poll.id %}" class="btn btn-info btn-xs vote-btn">Голосовать</a> &nbsp;
                        <a href="{% url 'results' poll.id %}" class="btn btn-default btn-xs result-btn">Результаты</a> &nbsp;
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}
