{% extends "poll/base.html" %}

{% block title %}Результаты{% endblock %}

{% block main %}
<div class="row polls">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title page-title">Результаты опроса</h3>
            </div>

            <div class="panel-body">
                <h3>{{ poll.question }}</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item">{{ poll.option_one }} &mdash; <strong>{{ poll.option_one_count }}</strong></li>
                <li class="list-group-item">{{ poll.option_two }} &mdash; <strong>{{ poll.option_two_count }}</strong></li>
                <li class="list-group-item">{{ poll.option_three }} &mdash; <strong>{{ poll.option_three_count }}</strong></li>
            </ul>

            <div class="panel-footer">
                Всего голосов &mdash; <strong>{{ poll.total }}</strong>
            </div>

        </div>
    </div>
</div>
{% endblock %}
